body {
  margin: 0;
}

header {
  width: 100%;
  height: 1024px;
  margin: 0;
}

.smMobileImage {display: none; position: relative;}
.lgMobileImage {display: none; position: relative;}
.tabletImage {display: none; position: relative;}
.laptopImage {display: none; position: relative;}
.desktopImage {display: none; position: relative;}

.ghCloud {
  position: absolute;
  opacity: 0;
  transition:
  transform .5s linear 1.5s;
  animation: ghCloudEntrance .5s linear 1.5s;
  animation-fill-mode: forwards;
}



/* ANIMATIONS */
/* ghCloud Entrance */
@keyframes ghCloudEntrance {
  from {opacity: 0;}
  to {opacity: 1;}
}





/* MEDIA QUERIES */
/* Small Mobile Screens (320px and less) */
@media (max-width: 320px) {
  .smMobileImage {display: block;}
  .lgMobileImage {display: none;}
  .tabletImage {display: none;}
  .laptopImage {display: none;}
  .desktopImage {display: none;}
  /* smMoble center for .ghCloud is left: 11px and top: 242px */
  .ghCloud {left: -19px; top: 242px; transform: translateX(30px);}
}
/* Large Mobile Screens (btwn 321px and 425px) */
@media (min-width: 321px) and (max-width: 425px) {
  .smMobileImage {display: none;}
  .lgMobileImage {display: block;}
  .tabletImage {display: none;}
  .laptopImage {display: none;}
  .desktopImage {display: none;}
  /* lgMobile center for .ghCloud is left: 51px and top: 242px */
  .ghCloud {left: 21px; top: 242px; transform: translateX(30px);}
}
/* Tablet Screens (btwn 426px and 768px) */
@media (min-width: 426px) and (max-width: 768px) {
  .smMobileImage {display: none;}
  .lgMobileImage {display: none;}
  .tabletImage {display: block;}
  .laptopImage {display: none;}
  .desktopImage {display: none;}
  /* tablet center for .ghCloud is left: 204px and top: 149px */
  .ghCloud {left: 174px; top: 149px; transform: translateX(30px);}
}
/* Laptop Screens (btwn 769px and 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .smMobileImage {display: none;}
  .lgMobileImage {display: none;}
  .tabletImage {display: none;}
  .laptopImage {display: block;}
  .desktopImage {display: none;}
  /* laptop center for .ghCloud is left: 334px and top: 142px */
  .ghCloud {left: 304px; top: 142px; transform: translateX(30px);}
}
/* Desktop Screens (1025px and above) */
@media (min-width: 1025px) {
  .smMobileImage {display: none;}
  .lgMobileImage {display: none;}
  .tabletImage {display: none;}
  .laptopImage {display: none;}
  .desktopImage {display: block;}
  /* desktop center for .ghCloud is left: 542px and top: 143px */
  .ghCloud {left: 512px; top: 143px; transform: translateX(30px);}
}
